<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Register</title>
    </head>
    <body>
        <h1>Register</h1>

        <form action="#" th:action="@{/register}" method="POST">
            <p><label for="username">Name</label>: <input type="text" name="username" id="username"/></p>
            <p><label for="password">Password</label>: <input type="password" name="password" id="password"/></p>
            <p><input type="submit" value="Submit" /></p>
        </form>
        
        or <a href="/login">login</a>

        <p></p>
    </body>
</html>
